.three-popup-legend {
    --padding-width: 10px;
    padding: 10px 15px;
    background-color: rgb(5, 22, 50);
    color: #fff;
    text-align: left;
    font-size: 14px;
    border:1px solid #3A4F7E
}