.three-popup-label {
    opacity: 0;
    height: 249px;
    transform: translate(0,-50%);
    /* display: -webkit-flex;  */
    /* display: flex;
    align-items: flex-end; */
}
.three-popup-label.hover {
    opacity: 1;
}
.three-popup-label .three-popup-label-line {
    position:absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 1px solid #67EFAB;
    border-left: 1px solid #67EFAB;
    transition-property: height, width;
    transition-duration: 0.3s,0.1s;
    transition-delay: 0s,0.3s;
}
.three-popup-label .three-popup-label-line.hover {
    width: 38px;
    height: 163px;
}
.three-popup-label .three-popup-label-panel {
    position:absolute;
    background: url(~@/assets/popup.png) no-repeat center 100%;
    left: 14px;
    top: 0;
    display: inline-block;
    color: #fff;
    width: 265px;
    height: 164px;
    opacity: 0;
    transition: opacity 0.3s 0.3s;
}
.three-popup-label .three-popup-label-panel.hover {
    opacity: 1;
}
.three-popup-label-panel .text-content {
    box-sizing: border-box;
    height: 100%;
    padding: 45px 47px;
    opacity: 0;
    transition: opacity 0.5s 0.7s;
}
.three-popup-label-panel .text-content.hover {
    opacity: 1;
}
.text-content .topDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.text-content .text {
    font-family: "Source Han Sans CN";
}
.topDiv .province {
    font-weight: bold;
    font-size: 18px;
    height: 18px;
    color:#5DF5A0;

}
.topDiv .number {
    font-weight: bold;
    font-size: 12px;
    height: 12px;
}
.text-content .bottomDiv{
    display: flex;
    margin-bottom: 10px;
}
.bottomDiv .field{
    text-align:start;
    flex: 2;
    font-size: 14px;
    height: 14px;
}
.bottomDiv .value{
    flex: 2;
    text-align:start;
    font-size: 16px;
    height: 16px;
}

